@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');



body {
    background-color: #e3e2e2; 
    color: #2a2725;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #e3e2e2;
    color: #2a2725;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link img {
    float: left;
    width: 90%;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-title {
    color: #f9c300;
    font-family: 'Josefin Sans', 'Raleway', 'Arial', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    z-index: 1;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
  }
  #hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
  }
  #hero-img {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  #hero-msg {
    grid-column: 2/4;
    grid-row: 1/3;
    margin-top: 150px;
    margin-left: 350px;
  }
  #hero-msg h1 {
    text-align: center;
    color: #f9c300;
    z-index: 1;
    margin: 0;
  }
  #hero-msg h4 {
    text-align: center;
    color: #e3e2e2;
    margin: 0;
    margin-bottom: 30px;
  }
  .button-box {
    text-align: center;
  }
.book, .join {
    background-color: #f9c300; 
    color: #2a2725;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
  }
  .book:hover {
    background-color: #e3e2e2; 
    color: #2a2725;
  }
h1{
    color: #2a2725;
}
h2 {
    color: #2a2725;
    font-family: 'Josefin Sans', 'Raleway', 'Arial', sans-serif;
    margin: 0;
    margin-left: 20px;
}
h4 {
    color: #2a2725;
}
nav a {
    text-align: center;
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    color: #2a2725;
    padding: 35px;
}
nav {
    background-color: #e3e2e2;
    color: #2a2725;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
p {
  color: #2a2725;
  font-family: 'Raleway', 'Arial', sans-serif;
  margin-left: 100px;
  margin-right: 10px;
}


footer {
    background-color: #3aadd1; 
    color: #2a2725;
    font-family: 'Raleway', 'Arial', sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  footer a {
    color: #2a2725;
    text-decoration: none;
}
  footer a:hover {
    color: #2a2725;
}
  footer p {
    font-size: .8em;
}  
  footer p a:hover {
    text-decoration: underline;
}  
  footer .social img {
    padding-top: 15px;
}